<!-- Cars slider -->
<section class="product-module">
    <div class="pam-items-wrap">
        <div class="pam-item">
            <a class="pam-link" href="#">
                <img class="pami-img" src="static/img/por-3.jpeg" alt="Porsche 992 GTE3" title="Xtreme 160R BS6">
                <h3 class="pami-title"><span>Porsche 992 GTE3</span></h3>
                <div class="pami-hidden-content">
                    <div class="pamih-top-wrap">
                        <div>
                            <span class="pamih-title">Porsche 992 GTE3</span>
                            <span class="pamih-desc">The history of the Porsche automobile brand began in 1948 with the Type 356</span>
                            <span class="pami-btn-wrap"><span class="pami-btn btn">Learn More</span></span>
                        </div>
                    </div>
                </div>
            </a>
        </div>
        <div class="pam-item">
            <a class="pam-link" href="#">
                <img class="pami-img" src="static/img/bmw-1.jpeg" alt="Xtreme 160R BS6" title="Xtreme 160R BS6">
                <h3 class="pami-title"><span>Xtreme 160R BS6</span></h3>
                <div class="pami-hidden-content">
                    <div class="pamih-top-wrap">
                        <div>
                            <span class="pamih-title">Xtreme 160R BS6</span>
                            <span class="pamih-desc">Embrace the Future. Take the next Big Leap. Experience the Unknown.</span>
                            <span class="pami-btn-wrap"><span class="pami-btn btn">Learn More</span></span>
                        </div>
                    </div>
                </div>
            </a>
        </div>
        <div class="pam-item">
            <a class="pam-link" href="#">
                <img class="pami-img" src="static/img/bmw-7.jpeg" alt="Xtreme 160R BS6" title="Xtreme 160R BS6">
                <h3 class="pami-title"><span>Xtreme 160R BS6</span></h3>
                <div class="pami-hidden-content">
                    <div class="pamih-top-wrap">
                        <div>
                            <span class="pamih-title">Xtreme 160R BS6</span>
                            <span class="pamih-desc">Embrace the Future. Take the next Big Leap. Experience the Unknown.</span>
                            <span class="pami-btn-wrap"><span class="pami-btn btn">Learn More</span></span>
                        </div>
                    </div>
                </div>
            </a>
        </div>
        <div class="pam-item">
            <a class="pam-link" href="#">
                <img class="pami-img" src="static/img/lam-1.jpeg" alt="Xtreme 160R BS6" title="Xtreme 160R BS6">
                <h3 class="pami-title"><span>Xtreme 160R BS6</span></h3>
                <div class="pami-hidden-content">
                    <div class="pamih-top-wrap">
                        <div>
                            <span class="pamih-title">Xtreme 160R BS6</span>
                            <span class="pamih-desc">Embrace the Future. Take the next Big Leap. Experience the Unknown.</span>
                            <span class="pami-btn-wrap"><span class="pami-btn btn">Learn More</span></span>
                        </div>
                    </div>
                </div>
            </a>
        </div>
        <div class="pam-item">
            <a class="pam-link" href="#">
                <img class="pami-img" src="static/img/lam-2.jpeg" alt="Xtreme 160R BS6" title="Xtreme 160R BS6">
                <h3 class="pami-title"><span>Xtreme 160R BS6</span></h3>
                <div class="pami-hidden-content">
                    <div class="pamih-top-wrap">
                        <div>
                            <span class="pamih-title">Xtreme 160R BS6</span>
                            <span class="pamih-desc">Embrace the Future. Take the next Big Leap. Experience the Unknown.</span>
                            <span class="pami-btn-wrap"><span class="pami-btn btn">Learn More</span></span>
                        </div>
                    </div>
                </div>
            </a>
        </div>
        <div class="pam-item">
            <a class="pam-link" href="#">
                <img class="pami-img" src="static/img/por-4.jpeg" alt="Xtreme 160R BS6" title="Xtreme 160R BS6">
                <h3 class="pami-title"><span>Xtreme 160R BS6</span></h3>
                <div class="pami-hidden-content">
                    <div class="pamih-top-wrap">
                        <div>
                            <span class="pamih-title">Xtreme 160R BS6</span>
                            <span class="pamih-desc">Embrace the Future. Take the next Big Leap. Experience the Unknown.</span>
                            <span class="pami-btn-wrap"><span class="pami-btn btn">Learn More</span></span>
                        </div>
                    </div>
                </div>
            </a>
        </div>
        <!-- Repeat pam-item elements as needed -->
    </div>
</section>
<!-- Cars slider end -->
</section>