<footer class="section mf-footer">
  <div class="mf-container">
      <div class="mf-row">
        <div class="tack-center">
          <div class="mf-col-lg-1">
              <div class="">
                  <h6 class="text-hover-effect">Information</h6>
                  <ul class="list-unstyled footer-link mt-4">
                      <li><a href="">Pages</a></li>
                      <li><a href="">Our Team</a></li>
                      <li><a href="">Feuchers</a></li>
                      <li><a href="">Pricing</a></li>
                  </ul>
              </div>
          </div>

          <div class="mf-col-lg-2">
              <div class="">
                  <h6 class="text-hover-effect">Ressources</h6>
                  <ul class="list-unstyled footer-link mt-4">
                      <li><a href="">Monitoring Grader </a></li>
                      <li><a href="">Video Tutorial</a></li>
                      <li><a href="">Term &amp; Service</a></li>
                      <li><a href="">Zeeko API</a></li>
                  </ul>
              </div>
          </div>

          <div class="mf-col-lg-3">
              <div class="">
                  <h6 class="text-hover-effect">Help</h6>
                  <ul class="list-unstyled footer-link mt-4">
                      <li><a href="">Sign Up </a></li>
                      <li><a href="">Login</a></li>
                      <li><a href="">Terms of Services</a></li>
                      <li><a href="">Privacy Policy</a></li>
                  </ul>
              </div>
          </div>
        </div>
          <div class="mf-col-lg-4">
            <form  action="https://formspree.io/f/xwpeboja"
            method="POST">
                <h2 class="text-hover-effect">Contact Me!</h2>
                <div class="fs-container">
                    <div class="fs-name fs-input">
                        <input type="text" placeholder="Full Name" id="fullname" name="fullname" class="item" autocomplete="off" required>
                        <input type="tel" placeholder="Phone Number" id="phone" name="phone" class="item" pattern="[0-9]{10}" autocomplete="off" required>
                    </div>
                    <div class="fs-email fs-input">
                        <input type="email" placeholder="Email Address" id="email" name="email" class="item" autocomplete="off" required>
                    </div>
                   
                    <div class="fs-sub fs-input">
                        <input type="text" placeholder="Subject" id="subject" name="subject" class="item" autocomplete="off" required>
                    </div>
                    <div class="fs-tex fs-input">
                        <textarea id="message" name="message" cols="30" rows="10" placeholder="Your message" class="tex" autocomplete="off" required></textarea>
                    </div>
                </div>
                <button type="submit">Send</button>
            </form>
        </div>
        

      </div>
  </div>

  <div class="text-center mt-5">
      <p class="footer-alt mb-0 f-14">2019 © Anup, All Rights Reserved</p>
  </div>
</footer>

</div><!--site-wrap END -->


<!-- <script type='text/javascript' src='http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js?ver=1.10.2'></script> -->
<script src="/static/js/vendor/jquery-1.10.2.min.js"></script>
<script src="/static/js/production.min.js"></script>
<script src="https://smtpjs.com/v3/smtp.js"></script>

</body>

</html>
